<!DOCTYPE html>
<html>

<head>
	<title>Example One SVG</title>
	<module href="/components/head.html"></module>
</head>

<body>
	<div id="app">
		<div class="wrapper">
			<h1>Example One SVG</h1>
			<p>
				Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
				ornare vel eu leo.
			</p>

			<form class="form" action="">
				<label for="name">
					Name
					<input id="name" type="text" />
				</label>
				<label for="email">
					Email address
					<input id="email" type="text" />
				</label>
				<label for="checkInput">
					Checked?
					<input type="checkbox" id="checkInput" name="check" value="Checked?" />
				</label>
			</form>

			<svg id="loading_svg" class="svg-animation" width="240" height="240" viewbox="0 0 24 24">

				<!-- Loading line group -->
				<g id="loading_line">
					<path
						mask="url(#loading_line_mask)" 
						id="loading_line_stroke" 
						class="stroke"
						d="
							M 0, 12
							a 12,12 0 1,1 24,0
							a 12,12 0 1,1 -24,0
						"
					/>

					<mask id="loading_line_mask">
						<path
							id="loading_line_path" 
							class="mask"
							d="
							M2,12
							a10,10 0 1,0 20,0
							a10,10 0 1,0 -20,0
							"
							
							stroke-linecap="round" 
							stroke-miterlimit="10" 
							stroke-width="2"
						/>
					</mask>

				</g>
				<!-- End of loading line group -->

				<!-- Check mark group -->
				<g id="check_mark">
					<path
						mask="url(#check_mark_mask)" 
						id="check_mark_stroke" 
						class="stroke"
						d="
							M 0 0
							H 24
							V 24
							H 0
							L 0 0
						"
					/>

					<mask id="check_mark_mask">
						<path 
							id="check_mark_path" 
							class="mask" 
							d="
								M 2,12 
								l 7,6 
								l 12,-14
							"
							stroke-linecap="round" 
							stroke-miterlimit="10" 
							stroke-width="2" 
						/>
					</mask>
				
				</g>
				<!-- End of check mark group -->

				<!-- Cross group -->
				<g id="cross">
					<path
						mask="url(#cross_stroke_left_mask)" 
						id="cross_left_stroke" 
						class="stroke"
						d="
							M 0 0
							H 24
							V 24
							H 0
							L 0 0
						"
					/>
					<path
						mask="url(#cross_stroke_right_mask)" 
						id="cross_right_stroke" 
						class="stroke"
						d="
							M 0 0
							H 24
							V 24
							H 0
							L 0 0
						"
					/>
					<mask id="cross_stroke_left_mask">
						<path
							id="cross_stroke_left_path"
							class="mask" 
							d="
								M 2,2 
								L 22,22 
							"
							stroke-linecap="round" 
							stroke-miterlimit="10" 
							stroke-width="2" 
						/>
					</mask>

					<mask id="cross_stroke_right_mask">
						<path
							id="cross_stroke_right_path"
							class="mask" 
							d="
								M 22,2 
								L 2,22
							"
							stroke-linecap="round" 
							stroke-miterlimit="10" 
							stroke-width="2" 
						/>
					</mask>
				</g>
				<!-- End of cross group -->
			</svg>
			<div class="controls">
				<span id="progressValue">0</span>
				<div class="buttons">
					<button class="btn" id="btnSucces">Succes</button>
					<button class="btn" id="btnFail">Fail</button>
				</div>
			</div>
		</div>
	</div>
	<script src="bundle.js"></script>
</body>

</html>