<!DOCTYPE html>
<html>

<head>
	<title>Example One SVG</title>
	<module href="/components/head.html"></module>
</head>

<body>
	<div id="app">
		<div class="wrapper">
			<h1>Example animation for status input</h1>

			<form class="form" action="">
				<label for="options">
					Option
				</label>
				<div class="input-wrapper">
					<select name="options" id="options">
						<option value="option1">Option1</option>
						<option value="option2">Option2</option>
						<option value="option3">Option3</option>
						<option value="option4">Option4</option>
					</select>
				</div>
			
				<label for="email">
					Email address
					<input id="email" type="text" />
				</label>
				<label for="checkInput">
					Checked?
					<input type="checkbox" id="checkInput" name="check" value="Checked?" />
				</label>
			</form>

			
			<div class="controls">
				<div class="buttons">
					<button class="btn" id="btnSuccess">Succes</button>
					<button class="btn" id="btnFail">Fail</button>
				</div>
			</div>
		</div>
	</div>
	<module href="/components/svg.html"></module>
	<script src="bundle.js"></script>
</body>

</html>