.svg-animation {
	width: 20px;
	height: 20px;
	pointer-events: none;
}


#loading_line,
#check_mark,
#cross,
#indicator {
	opacity: 0;
}

.stroke {
	fill: $defaultFont;
	fill-rule: evenodd;
	transition: all 0.3s ease-in-out 0.4s;

	&.invisible {
		fill: transparent;
	}
}

.svg_wrapper {
	position: absolute;
	z-index: 2;
	display: inline-block;
	padding: .2em;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
	background: radial-gradient(circle at 50%, #ebeaea, #f1f1f1 50%,  transparent 75%);

	&.success {
		.stroke {
			fill: $success;
		}
	}
	&.fail {
		.stroke {
			fill: $alert;
		}
	}
}

#loading_svg .mask,
#check_mark_svg .mask,
#cross_svg .mask {
	fill: none;
	stroke: #fff;
	stroke-miterlimit: 10;
}
