form {
    background: $white;
  }
  
  label {
    display: block;
    margin: 1em 0 2em 0;
  }
  
  select {
    appearance: none;
    border: none;
  }
  input,
  .input-wrapper {
    position: relative;
    font-size: .8em;
    background: $white;
    border: 1px solid $grey-20;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
  }


  .input-wrapper::after {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    right: .5em;
    top: .5em;
    border: 1px solid red;
  }

  .form {
    padding: 2em 2em;
  }
