*,
html {
  box-sizing: border-box;
  font-size: 1em;
}
body {
  font-family: sans-serif;
  color: $defaultFont;
  background: $background;
}

.flex {
  display: flex;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}