*,
html {
  box-sizing: border-box;
  font-size: 1em;
}
body {
  font-family: sans-serif;
  color: $defaultFont;
  background: $background;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.label {
  font-weight: bold;
  padding-right: 1em;
}

#loading_line,
#check_mark,
#cross {
    visibility: hidden;
    opacity: 0;
}

.stroke {
    fill: $blue;
    fill-rule: evenodd;

    &.invisible {
        fill: transparent;
    }
}

#loading_svg .mask,
#check_mark_svg .mask,
#cross_svg .mask {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}