<span class="svg_wrapper">
    <svg class="svg-animation" viewbox="0 0 24 24">
        <!-- Loading line group -->
        <g class="border_stroke">
            <path
                class="stroke_path line"
                d="
                    M1,12
                    a11,11 0 1,0 22,0
                    a11,11 0 1,0 -22,0
                "
                stroke-linecap="round" 
                stroke-miterlimit="10" 
                stroke-width="2"
            />
        </g>
        <!-- End of loading line group -->
        <!-- Check mark group -->
        <g class="check_mark">
            <path 
                class="check_mark_path line" 
                d="
                    M 6,12 
                    l 5,6 
                    l 6,-10
                "
                stroke-linecap="round" 
                stroke-miterlimit="10" 
                stroke-width="2" 
            />
        </g>
        <!-- End of check mark group -->

        <!-- Error group -->
        <g class="error_sign">
            <path
                class="error_line_path line" 
                d="
                    M 12,6 
                    L 12,14
                "
                stroke-linecap="square" 
                stroke-miterlimit="10" 
                stroke-width="2" 
            />
            <path
                class="error_dot_path line" 
                d="
                    M 12,18 
                    L 12,18
                "
                stroke-linecap="square" 
                stroke-miterlimit="10" 
                stroke-width="2" 
            />
        </g>
		<!-- Error group -->
    </svg>
</span>